<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%- include('./styles'); %>
    <title>Set up a new password  
    </title>
    <!-- 
    The style block is collapsed on page load to save you some scrolling.
    Postmark automatically inlines all CSS properties for maximum email client 
    compatibility. You can just update styles here, and Postmark does the rest.
    -->
    <script>
        var status = '<%- JSON.stringify(status) %>';

        if (JSON.parse(status) == "verified") {
            if (confirm("Do u want to login?")) {
                window.location.href = "http://localhost:3000/VaibhavxD11/LearnPlus#/login";
            }
            else {
                window.location.href = "http://localhost:3000/VaibhavxD11/LearnPlus#/";
            }
        }
    </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const passwordForm = document.getElementById('passwordForm');
            const newPasswordInput = document.getElementById('password');
            const confirmPasswordInput = document.getElementById('password2');
            const passwordError = document.getElementById('passwordError');

            passwordForm.addEventListener('submit', function (e) {
                const newPassword = newPasswordInput.value;
                const confirmPassword = confirmPasswordInput.value;

                if (newPassword !== confirmPassword) {
                    e.preventDefault(); // Prevent form submission
                    passwordError.textContent = 'Passwords do not match';
                }
            });
        });
    </script>
    
</head>

<body class="">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body text-center">
                <h2 >
                    Reset Password
                </h2>
                <br>
               
                    <form action="" method="POST" id="passwordForm">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Enter Password" required=""
                                value="<%= typeof password != 'undefined' ? password : '' %>" />
                        </div>
                        <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input type="password" id="password2" name="password2" class="form-control"
                                placeholder="Confirm Password" required=""
                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                                <br>
                                <div id="passwordError" style="color: red;"></div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                    <p>

                    </p>
            </div>
        </div>
    </div>
    
</body>

</html>